name: CI Pipeline
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    - name: Build and Push Backend Image to ECR
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 126623035052.dkr.ecr.us-east-1.amazonaws.com
        cd Application-Code/backend
        docker build -t 126623035052.dkr.ecr.us-east-1.amazonaws.com/argocd-ecr:backend-latest .
        docker push 126623035052.dkr.ecr.us-east-1.amazonaws.com/argocd-ecr:backend-latest
    - name: Build and Push Frontend Image to ECR
      run: |
        cd Application-Code/frontend
        docker build -t 126623035052.dkr.ecr.us-east-1.amazonaws.com/argocd-ecr:frontend-latest .
        docker push 126623035052.dkr.ecr.us-east-1.amazonaws.com/argocd-ecr:frontend-latest
